*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
html body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.container .redwings{
    height: 2.5em;
    width: 100%;
    padding-left: 5em;
    background-color:rgb(24, 35, 65);
    color: white;
}
/* nav bar css */
 /* login form */
 @import url(./navbar.css);

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
    background-color: #fef2f2;
    
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  
  .cancelbtn {
     width: 100%;
     margin: 0%;
  }
 } 
 /* form finish */
 
/* Add a black background color to the top navigation */
.topnav {
   background-color: #a41818;
   overflow: hidden;
   padding: 0.5em;
   position: sticky;
   top: 0px;
 }
 
 /* Style the links inside the navigation bar */
 .topnav a {
  
   float:left;
   display: block; 
   color: #f2f2f2;
   text-align: center;
   padding: 0.5em 1em;
   text-decoration: none;
   gap: 2%;
   font-size: 17px;
    border-radius: 2em;
 }
 
 /* Change the color of links on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;

 }
 
 /* Add an active class to highlight the current page */
 .topnav a.active {
   background-color: #f8f9f9;
   color: rgb(12, 0, 0);
 }
 
 /* Hide the link that should open and close the topnav on small screens */
 .topnav .icon {
   display: none;
 }


       /* media query */

       /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
   .topnav a:not(:first-child) {display: none;}
   .topnav a.icon {
     float: right;
     display: block;
   }
 }
 
 /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
 @media screen and (max-width: 600px) {
   .topnav.responsive {position: relative;}
   .topnav.responsive a.icon {
     position: absolute;
     right: 0;
     top: 0;
   }
   .topnav.responsive a {
     float: none;
     display: block;
     text-decoration: none;
   }
 }



 


 

 /*  1st image css */

.istpic{
  height: 100%;
  width: 100%;
}
.istpic img{
 
   height: 90%;
   width: 100%;
   position:sticky;
   float: right;
   image-resolution: 1024px;
   overflow: hidden;
   
}
/* ////////3circle////// */
.circle1{
  display: flex;
  justify-content: center;
  width: 200px;
  text-align: center;
}
.circle1 img {
  background-image: url('./blood.png');
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 2px  silver ;
  text-align: center;
}
.circle2{
  display: flex;
  justify-content: center;
  width: 200px;
  text-align: center;
}
.circle2 img {
  background-image: url('./blood.png');
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 2px  silver ;
  text-align: center;
}
.circle3{
  display: flex;
  justify-content: center;
  width: 200px;
  text-align: center;
}
.circle3 img {
  background-image: url('./blood.png');
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: all 0.3s ease;
  border: solid 2px  silver ;
  text-align: center;
}
.container2 .circle1,.circle2,.circle3 a{
  text-decoration: none;
  font-size: large;color: red;
}
.container2 a :hover{
  color: rgb(20, 26, 118);
  font-size: larger;
 transform: scale(1.1);

}
/* ...........FINISH....... */

.istpic .txt{
  float:left;
  text-align: center;
  margin: 17% 0% 0% 1%;
}
.istpic .txt h3{
  font-size: 2em;

    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .istpic .txt 
  {
    float: left;
  }

.istpic .txt h2{
  color: red;
  
    font-family: "Protest Revolution", sans-serif;
    font-size: 2.5em;
    font-style: normal;
  }
  



 /* 3circle */

 .container2{
    height: max-content;
    width: 100%;
    /* background-color: rgb(222, 227, 231); */
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1em;
    grid-auto-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 5em;
 }
 .container2 .item{
   height: 40vb;
   width: 40vb;
   padding: 8em 1em 2em 2em;
   box-shadow: 4px 7px 16px 3px black;
    border: 2px solid rgb(7, 0, 0);
    border-radius: 50%;

 }
 .container2 .item2 img{
  height: 40vb;
   width: 40vb;
   border-radius: 50%;
  overflow: hidden;
  object-fit: cover;

 }
 .container2 .item a{
  color: white;
  font-style: none;
 }
 .container2 .item:hover{
   background-color: rgba(7, 21, 100, 0.63);
 }
 .container2 .item.item3{
  background-color: #a41818;
 }

 @media screen and (max-width:600px) {
.container2 .item{
  height: max-content;
    width: max-content;
    display: block;
    padding: 1em 1em 1em 1em;
    font-size: 0.9em;
}

  
 }

        /* 2nd image */

        .secondimg img{
         height: 40%;
         width: 40%;
         /* object-fit: contain;  */
         
        }
        .secondimg.img2{
          height: 50%;
          width: 70%;

        }
        .secondimg{
         display:flex;
         gap: 10%;
         /* align-items: center;
         justify-content: center; */
        }
        .secondimg .text{
        height:100% ;
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2em;
        padding: 2em 0em 1em 1em;
        text-align: center;
        word-wrap: wrap;
        margin: auto;
        }
        

        .secondimg .text button{
        background-color:rgb(24, 35, 65)  ; 
        color: white; 
        padding: 0.5em 2em 0.5em 2em; 
        border: none; 
        border-radius: 2em;
      
        ;
        cursor: pointer;
        
        }
        .secondimg .text button a{
          color: #f2f2f2;
          text-decoration: none;
        }

        .secondimg .text button:hover{
        background-color: rgb(127, 17, 13);
        color: black;
        border:1px solid rgb(237, 238, 242) ;
        border-radius: 2em;
        }



        @media screen and (max-width: 600px) {
          .secondimg{
            display: block;
            
           }
           .secondimg .text{
            width: 100%;
           }
        }




        /* table css */

        
        .table table{
          margin:0% 7px 0% 7px;
         height: 100%;
         background-color:  rgb(222, 227, 231);
         width: 100%;
         overflow: hidden;
         border-collapse: collapse;
         
     }
    
      .table table,th ,td{
                

             border-bottom: 1px solid black;
             border-right: 1px solid black;
             padding: 3px;
             text-align: center;
             
     
     } 
     .table th{
     font-style: bold;
     font-size: 1.2em;
    }


     /*  type of blood donation */
     .types{
     display: flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
     }
     .types h1{
height: max-content;
     width: 100%;
     padding: 0.3em;
     text-align: center;
     background-color:rgb(24, 35, 65) ;
     color: rgb(244, 236, 236);
     }
           .types p{
           padding: 1em;
           font-size: 1.2em;
           word-wrap: wrap;
           text-align: center;
           word-break: keep-all;
           }

/* donar registration & total blood available */
.square{
  display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    grid-auto-flow: row;
    justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
.square .item{
  height: 30vb;
  width: 50vb;
  border:  rgb(240, 231, 231);
  box-shadow: red 2px 4px 8px ;
  border-radius:2.5em;
  display: grid;
    grid-template-columns: auto auto;
    column-gap: 0em;
    grid-auto-flow: row;
    /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  color:rgb(250, 251, 251) ;
  text-align: center;
  background-color: rgb(24, 35, 65) ;
}

@media screen  and (max-width: 600px){
  .square .item{
    display: block;
  }
  
}
           /* blood types */



       




      
           .donationtype button{
            height: 5em;
          padding: 4em;
          margin: 0.5em;
            border-radius: 3em;
           }
      #wholeblood,#Plasma,#Platelet{
        background-color:rgb(24, 35, 65) ;
        height:2em;
        width: 6em;
        padding: 2px 4px 2px 4px;
        color: #ddd;
        font-size: medium;
        font-style: oblique;
      }
      #panel1,#panel2,#panel3 {
        height: 60%;
        width: 100%;
        margin: 10px;
        padding: 18px;
      display:none;
        background-color: rgb(222, 227, 231);
        overflow: hidden;
      }
      